[submodule "IADEVS_COMPUTERVISION"]
	path = IADEVS_COMPUTERVISION
	url = git@github.com:FIAP/IADEVS_COMPUTERVISION.git
[submodule "tech-challenge-fase-1"]
	path = tech-challenge-fase-1
	url = git@github.com:igorspestana/tech-challenge-fase-1.git
[submodule "genetic_algorithm_tsp"]
	path = genetic_algorithm_tsp
	url = git@github.com:FIAP/genetic_algorithm_tsp.git
[submodule "genetic_algorithm_camouflage"]
	path = genetic_algorithm_camouflage
	url = git@github.com:FIAP/genetic_algorithm_camouflage.git
[submodule "IADT-LLMS"]
	path = IADT-LLMS
	url = git@github.com:FIAP/IADT-LLMS.git
